:root {
  --primary: #1e90ff;
  --secondary: #2e8b57;
  --accent: #ffd54f;
  --highlight: #ff7093;

  --text-dark: #222;
  --text-light: #555;

  --bg:#f5f9fc;
  --white: #ffffff;

  --font-title: 'Bungee', cursive;
  --font-body: 'Montserrat', sans-serif;

}
